<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form th:action="@{/hello}" method="post">
            <div>
                <input type="text" name="key" placeholder="key"/>
            </div>
            <div>
                <input type="text" name="value" placeholder="value"/>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    </body>
</html>
