<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" name="name" placeholder="name"/>
            </div>
            <div>
                <input type="file" name="image" placeholder="image"/>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
        <div>
            <a th:href="@{/download}">Download</a>
        </div>
        <div>
            <a th:href="@{/notfound}">Not Found</a>
        </div>
        <div>
            <a th:href="@{/tell}">Tell</a>
        </div>
    </body>
</html>
