<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script th:src="@{/node_modules/jquery/dist/jquery.js}"
                src="../static/node_modules/jquery/dist/jquery.js">
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(function() {
                var ex1url = /*[[@{/ex1}]]*/'';
                var ex2url = /*[[@{/ex2}]]*/'';
                var notfoundurl = /*[[@{/notfound}]]*/'';

                $('#notfound').on('click', function() {
                    $.ajax(notfoundurl).done(function(data) {
                        console.log('done', data);
                    }).fail(function($xhr, sts, ex) {
                        console.log($xhr, sts, ex);
                        alert($xhr);
                    });
                });

                $('#ex1').on('click', function() {
                    $.ajax(ex1url).done(function(data) {
                        console.log('done', data);
                    }).fail(function($xhr, sts, ex) {
                        console.log($xhr, sts, ex);
                        alert($xhr);
                    });
                });

                $('#ex2').on('click', function() {
                    $.ajax(ex2url).done(function(data) {
                        console.log('done', data);
                    }).fail(function($xhr, sts, ex) {
                        console.log($xhr, sts, ex);
                        alert($xhr);
                    });
                });
            });
            /*]]>*/
        </script>
    </head>
    <body>
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" name="name" placeholder="name"/>
            </div>
            <div>
                <input type="file" name="image" placeholder="image"/>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
        <div>
            <a th:href="@{/download}">Download</a>
        </div>
        <div>
            <a th:href="@{/tell}">Tell</a>
        </div>
        <div>
            <a id="notfound" href="javascript:void(0)">REST notfound</a>
            &nbsp;
            <a th:href="@{/notfound}">Not Found</a>
        </div>
        <div>
            <a id="ex1" href="javascript:void(0)">REST ex1</a>
            &nbsp;
            <a th:href="@{/ex1}">ex1</a>
        </div>
        <div>
            <a id="ex2" href="javascript:void(0)">REST ex2</a>
            &nbsp;
            <a th:href="@{/ex2}">ex2</a>
        </div>
    </body>
</html>
